/*==================================================================================================
    Reset/Normalize
==================================================================================================*/
*
{
    box-sizing: border-box;
}

html,
body
{
    font-family: monospace;

    overflow-x: hidden;

    min-height: 100vh;

    background-image: linear-gradient(135deg, rgb(77, 77, 77), rgb(33, 33, 33));
}

/*==================================================================================================
    Media Queries
==================================================================================================*/
@media (max-width: 768px)
{
    .terminal-title
    {
        font-size: 13px;
    }

    .header-button
    {
        margin-right: 10px;
    }
}

/*==================================================================================================
    Terminal
==================================================================================================*/
.terminal
{
    display: flex;
    flex-direction: column;

    width: clamp(700px, 65vw, 1400px);
    margin: 25px auto;

    color: #fff;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, .496);
}

/*==================================================================================================
    Header
==================================================================================================*/
.terminal__header
{
    display: flex;
    align-items: center;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(21, 21, 21);
}

.terminal__title
{
    font-size: 15px;

    position: absolute;
    left: 50%;
    /* used because absolute positioning is relative to left box border*/

    transform: translateX(-50%);
}

.terminal__controls
{
    display: flex;

    margin-left: auto;
    padding: 0;

    list-style-type: none;
}

.terminal__button
{
    font-size: 1.5em;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 1.5em;
    height: 1.5em;
    margin-right: 20px;

    cursor: pointer;

    border-radius: 50%;
}

.terminal__button::before
{
    color: rgba(255, 255, 255, .2);
}

.terminal__button:hover
{
    background-color: rgba(255, 255, 255, .2);
}

.terminal__button:hover::before
{
    color: rgba(255, 255, 255, .8);
}

.terminal__button--minimize::before
{
    content: '—';
}

.terminal__button--maximize::before
{
    content: '◻';
}

.terminal__button--exit::before
{
    content: '✕';
}

/*==================================================================================================
    Window
==================================================================================================*/
.terminal__window
{
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
    min-height: 650px;
    max-height: 850px;

    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgba(33, 33, 33, .813);
}

.terminal__list
{
    overflow-y: auto;

    padding-right: 10px;
    padding-left: 10px;

    list-style-type: none;
}

.terminal__line
{
    font-size: 1.5em;
}

/* Prompt Section */
.line__prompt
{
    padding-right: 10px;
}

.prompt__user
{
    color: rgb(134, 255, 200);
}
.prompt__dir
{
    color: rgb(168, 148, 255);
}
.prompt__sign
{
    color: rgb(255, 162, 180);
}

/* Input Section */
.line__content
{
    display: inline;

    white-space: pre-wrap;

    overflow-wrap: break-word;
}

.content__left
{
    overflow-wrap: break-word;
}

.content__right
{
    overflow-wrap: break-word;
}

.content__caret
{
    position: relative;

    display: inline-block;

    color: rgb(255, 255, 255);
}

/* Styling For Command Prints */
.content__general
{
    color: white;
}

.content__error
{
    color: rgb(227, 88, 88);
}

.content__hint
{
    color: rgb(255, 244, 141);
}

.content__directory
{
    color: rgb(168, 148, 255);
}

.content__file
{
    color: rgb(255, 152, 217);
}

/* When hidden */
.content__caret--hidden
{
    color: transparent;
    background-color: transparent;
}

:focus
{
    outline: none;
}
